In [1]:
import sys
import os
project_path = os.path.abspath('../..')
if project_path not in sys.path:
    sys.path.append(project_path)
print("Ruta agregada.")

Ruta agregada.

In [2]:
from src.data.preprocessing import clean_and_prepare_data

print("Import exitoso!")  # Esta línea te dirá si el import funcionó

df = clean_and_prepare_data('../../data/raw/walmart_sales.csv')

df.head(10)

FUNCIÓN clean_and_prepare_data CARGADA CORRECTAMENTE EN EL ARCHIVO
Import exitoso!
=== INICIANDO LIMPIEZA DE DATOS ===
Cargando archivo: ../../data/raw/walmart_sales.csv
Columnas encontradas: ['transaction_id', 'customer_id', 'product_id', 'product_name', 'category', 'quantity_sold', 'unit_price', 'transaction_date', 'store_id', 'store_location', 'inventory_level', 'reorder_point', 'reorder_quantity', 'supplier_id', 'supplier_lead_time', 'customer_age', 'customer_gender', 'customer_income', 'customer_loyalty_level', 'payment_method', 'promotion_applied', 'promotion_type', 'weather_conditions', 'holiday_indicator', 'weekday', 'stockout_indicator', 'forecasted_demand', 'actual_demand']
Número de filas: 5000
Fecha convertida desde columna 'transaction_date'

¡ÉXITO TOTAL! Datos procesados y guardados en:
../../data/processed/walmart_sales_processed.csv
Filas finales: 5000 | Columnas finales: 33

,transaction_id,customer_id,product_id,product_name,category,quantity_sold,unit_price,transaction_date,store_id,store_location,...,holiday_indicator,weekday,stockout_indicator,forecasted_demand,actual_demand,Date,Year,Month,Week,Is_Holiday_Week
0,1,2824,843,Fridge,Electronics,3,188.46,3/31/2024 21:46,3,"Miami, FL",...,False,Friday,True,172,179,2024-03-31 21:46:00,2024,3,13,0
1,2,1409,135,TV,Electronics,4,1912.04,7/28/2024 12:45,5,"Dallas, TX",...,False,Monday,True,109,484,2024-07-28 12:45:00,2024,7,30,0
2,3,5506,391,Fridge,Electronics,4,1377.75,6/10/2024 4:55,1,"Los Angeles, CA",...,False,Tuesday,True,289,416,2024-06-10 04:55:00,2024,6,24,0
3,4,5012,710,Smartphone,Electronics,5,182.31,8/15/2024 1:03,5,"Miami, FL",...,True,Sunday,False,174,446,2024-08-15 01:03:00,2024,8,33,0
4,5,4657,116,Laptop,Electronics,3,499.28,9/13/2024 0:45,6,"Chicago, IL",...,False,Thursday,True,287,469,2024-09-13 00:45:00,2024,9,37,0
5,6,3286,630,Camera,Electronics,4,1465.38,7/6/2024 7:24,1,"New York, NY",...,True,Saturday,False,294,265,2024-07-06 07:24:00,2024,7,27,0
6,7,2679,238,Laptop,Appliances,3,1904.70,3/17/2024 22:33,3,"Dallas, TX",...,False,Sunday,True,178,257,2024-03-17 22:33:00,2024,3,11,0
7,8,9935,409,Tablet,Electronics,4,875.16,7/22/2024 13:57,16,"Los Angeles, CA",...,True,Thursday,True,165,264,2024-07-22 13:57:00,2024,7,30,0
8,9,2424,106,Camera,Electronics,4,1627.48,3/30/2024 4:10,12,"New York, NY",...,True,Saturday,True,476,428,2024-03-30 04:10:00,2024,3,13,0
9,10,7912,407,Laptop,Appliances,5,666.27,6/17/2024 16:59,10,"Chicago, IL",...,True,Monday,True,395,400,2024-06-17 16:59:00,2024,6,25,0